@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body {
    @apply scrollbar-hide overflow-y-scroll;
  }
}
@font-face {
  font-family: "priceDown";
  src: url("./pricedown.otf");
  
}



html,body{
  width: 100%;
  height: 100%;
  font-family: "priceDown";
  background-color: black;
}