@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body {
    @apply scrollbar-hide overflow-y-scroll;
  }
}
@font-face {
  font-family: "priceDown";
   src: url("/pricedown.woff2") format("woff2"),
       url("/pricedown.woff") format("woff"),
       url("/pricedown.otf") format("opentype"),
       url("/pricedown.ttf") format("truetype");
}



html,body{
  width: 100%;
  height: 100%;
  font-family: "priceDown";
  background-color: black;
}